.navbar__footer {
  display: flex;
  background-color: lightgray;
  flex-direction: row;
  justify-content: space-between;
  padding: 1px 4px 0 0;
  width: auto;
}

/* Change the color of links on hover */
.navbar__footer a:hover {
  background-color: rgb(210, 119, 228);
  color: black;
}

/* Add a color to the active/current link */
.navbar__footer a.active {
  background-color: #4caf50;
  color: white;
}
